body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 2rem;
}

h1,h2,h3,h4,h5,h6 {
    color: #02456b;
    text-transform: uppercase;
}

h3 { font-size: 1.5rem; }
h4 { font-size: 1.2rem; }

h3 em, h4 em {
    font-style: italic;
}

a {
    color: #0096e0;
    text-decoration: none;
}

img.icon { width: 16px; }

p {
    color: #345;
    margin-block-start: 1rem;
    font-size: 1rem;
}

hr {
    height: 25px;
    border: none;
    background: no-repeat center url(img/sandwich.png);

}

a p {
    color: #02456b;
    font-size: 2rem;
}

em {
    font-style: normal;
    font-weight: bold;
}

article {
    width: 95%;
    margin: auto;
}

h1 {
    text-transform: uppercase;
    color: #789;
    margin-top: 2rem;
}

h1 span {
    color: #02456b;
}

ol {
    padding-left: 0;
}

li {
    padding: 0 0 1rem 1rem;
    list-style: none;
    border: 0.5rem solid transparent;
    border-radius: 1rem;
}

li:first-of-type {
    border-color: #ffc000;
}

blockquote {
    font-size: 1.5rem;
    margin-left: 0;
    padding-left: 1rem;
    border-left: 5px solid #abc;
}

blockquote p {
    color: #789;
    line-height: 2rem;
}

.votes {
    font-weight: bold;
}

.upvotes,
.downvotes {
    display: inline-block;
}

.upvotes {
    color: #FF8b60;
}

.downvotes {
    color: #9494FF;
}

@media(min-width:992px) {

    p {
        margin-block-start: 1rem;
    }

    li {
        padding: 0 0 2rem 2rem;
    }

    article {
        width: 50%;
    }

    blockquote {
        font-size: 1.2rem;
    }

    blockquote p {
        text-align: justify;
    }

}